<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Economica&amp;display=swap" rel="stylesheet">
    <title>WellBeing Analytics</title>    
    <link rel= "stylesheet" href= "{{ url_for('static',filename='/css/landing_page.css') }}">
    <meta http-equiv="refresh" content="2; url=http://192.168.5.48:9090">
</head>

<body>
<div class="landing-page">

    <div class="landing-page-font">
        <h2>Form submitted</h2>
        <h3>You will be automatically redirected to the Home page.</h3>
    </div>


</div>
<!-- Bottom Navbar-->
<div class="navbar" style="font-family:Verdana;">
    <div id="menu" class="menu">
        <a href="/"> Home </a>
        
    </div>
</div>
</body>
</html>
